.Header {
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(249, 249, 253, 0.2);
    display: inline-block;
}

.Header__details {
    display: flex;
}

.Header__name {
    margin: auto .5rem;
    color: #fff;
}

.Header__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0.5rem 1rem;
}
.Header__status {
    margin-left: 1rem;
    color: #fff;
}